@model GMS.Models.ViewModel.PlanVM

@{
    var title = "Plan Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data">

    <div class="row px-2 mx-2 backgroundWhite border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Plan.Id != 0)
        {
            <input type="hidden" asp-for="Plan.Id" />
            title = "Plan Detail";
        }

        <div class="col-12">
            <h2 class="text-primary"><img src="~/images/Gral/Plan.png" height="100px" width="100px" /> @title</h2>
            <br />
        </div>
        <div class="col-9">
            <div class="form-group row">
                <div class="col-4">
                    <label>Reference</label>
                </div>
                <div class="col-8">
                    <input asp-for="Plan.Reference" class="form-control" autofocus disabled/>
                    <span asp-validation-for="Plan.Reference" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label>Client</label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Plan.ClientId, Model.ClientList,
                                            "--- Please select a Client ---", new { @disabled = "disabled", @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Plan.StartDate"></label>
                </div>
                <div class="col-8">
                    <input type="date" asp-for="Plan.StartDate" class="form-control" disabled/>
                    <span asp-validation-for="Plan.StartDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Plan.EndDate"></label>
                </div>
                <div class="col-8">
                    <input type="date" asp-for="Plan.EndDate" class="form-control" disabled/>
                    <span asp-validation-for="Plan.EndDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Plan.Monday"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Plan.Monday" class="form-control" style="height:300px;" disable></textarea>
                    <span asp-validation-for="Plan.Monday" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Plan.Tuesday"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Plan.Tuesday" class="form-control" style="height:300px;" disabled></textarea>
                    <span asp-validation-for="Plan.Tuesday" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Plan.Wednesday"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Plan.Wednesday" class="form-control" style="height:300px;" disabled></textarea>
                    <span asp-validation-for="Plan.Wednesday" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Plan.Thursday"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Plan.Thursday" class="form-control" style="height:300px;" disabled></textarea>
                    <span asp-validation-for="Plan.Thursday" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Plan.Friday"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Plan.Friday" class="form-control" style="height:300px;" disabled></textarea>
                    <span asp-validation-for="Plan.Friday" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Plan.Saturday"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Plan.Saturday" class="form-control" style="height:300px;" disabled></textarea>
                    <span asp-validation-for="Plan.Saturday" class="text-danger"></span>
                </div>
            </div>
                    
        </div>
    </div>

</form>

@section Scripts{
    <script src="https://cdn.tiny.cloud/1/n94ifuzvl80pchikopiwgz2esrw8n28dwcywvpejlqrregfp/tinymce/5/tinymce.min.js"></script>
    <script>

    tinymce.init({
        selector: 'textarea',
        plugins: 'lists',
        menubar: 'file edit format',
        readonly: true,
        setup: function (ed) {
            ed.settings.readonly = true;
        }
    });

       </script>
}