@using GMS.Utility

@{
    ViewData["Title"] = "Home Page";
}

<!--Admin Area-->
@if (User.IsInRole(SD.Admin))
{
    <div class="row pt-5 pb-1">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info rounded-3">
                <div class="inner text-center">
                    <img src="~/images/Gral/Clients.png" height="100px" width="100px" />
                    <h3>Members</h3>

                    <p>Members</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a class="btn btn-dark small-box-footer d-flex justify-content-center" asp-area="Admin" asp-controller="Client" asp-action="Index" title="Shift">See Details &nbsp; <i class="fas fa-arrow-circle-right"></i> </a>

            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info rounded-3">
                <div class="inner text-center">
                    <img src="~/images/Gral/Trainers.png" height="100px" width="100px" />
                    <h3>Trainers</h3>

                    <p>Trainers</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a class="btn btn-dark small-box-footer d-flex justify-content-center" asp-area="Admin" asp-controller="Trainer" asp-action="Index" title="Trainers">See Details &nbsp; <i class="fas fa-arrow-circle-right"></i> </a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info rounded-3">
                <div class="inner text-center">
                    <img src="~/images/Gral/Orders.png" height="100px" width="100px" />
                    <h3>Orders</h3>

                    <p>Orders</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a class="btn btn-dark small-box-footer d-flex justify-content-center" asp-area="Admin" asp-controller="Order" asp-action="Index" title="Orders">See Details &nbsp; <i class="fas fa-arrow-circle-right"></i> </a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info rounded-3">
                <div class="inner text-center">
                    <img src="~/images/Gral/Equipments.png" height="100px" width="100px" />
                    <h3>Equipments</h3>

                    <p>Equipments</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a class="btn btn-dark small-box-footer d-flex justify-content-center" asp-area="Admin" asp-controller="Equipment" asp-action="Index" title="Equipments">See Details &nbsp; <i class="fas fa-arrow-circle-right"></i> </a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    <br />
    <br />

    <div class="row pt-1 pb-5">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info rounded-3">
                <div class="inner text-center">
                    <img src="~/images/Gral/Maintenance.png" height="100px" width="100px" />
                    <h3>Maintenance</h3>

                    <p>Maintenance</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a class="btn btn-dark small-box-footer d-flex justify-content-center" asp-area="Admin" asp-controller="Maintenance" asp-action="Index" title="Shift">See Details &nbsp; <i class="fas fa-arrow-circle-right"></i> </a>

            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info rounded-3">
                <div class="inner text-center">
                    <img src="~/images/Gral/Memberships.png" height="100px" width="100px" />
                    <h3>Memberships</h3>

                    <p>Memberships</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a class="btn btn-dark small-box-footer d-flex justify-content-center" asp-area="Admin" asp-controller="Membership" asp-action="Index" title="Trainers">See Details &nbsp; <i class="fas fa-arrow-circle-right"></i> </a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info rounded-3">
                <div class="inner text-center">
                    <img src="~/images/Gral/Periods.png" height="100px" width="100px" />
                    <h3>Periods</h3>

                    <p>Periods</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a class="btn btn-dark small-box-footer d-flex justify-content-center" asp-area="Admin" asp-controller="Period" asp-action="Index" title="Order">See Details &nbsp; <i class="fas fa-arrow-circle-right"></i> </a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info rounded-3">
                <div class="inner text-center">
                    <img src="~/images/Gral/Shifts.png" height="100px" width="100px" />
                    <h3>Shift</h3>

                    <p>Shift</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a class="btn btn-dark small-box-footer d-flex justify-content-center" asp-area="Admin" asp-controller="Shift" asp-action="Index" title="Equipments">See Details &nbsp; <i class="fas fa-arrow-circle-right"></i> </a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->

    <div class="row pt-1 pb-5">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info rounded-3">
                <div class="inner text-center">
                    <img src="~/images/Gral/Plan.png" height="100px" width="100px" />
                    <h3>Plan</h3>

                    <p>Plan</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a class="btn btn-dark small-box-footer d-flex justify-content-center" asp-area="Admin" asp-controller="Plan" asp-action="Index" title="Plan">See Details &nbsp; <i class="fas fa-arrow-circle-right"></i> </a>

            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info rounded-3">
                <div class="inner text-center">
                    <img src="~/images/Gral/Schedule.png" height="100px" width="100px" />
                    <h3>Schedule</h3>

                    <p>Schedule</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a class="btn btn-dark small-box-footer d-flex justify-content-center" asp-area="Admin" asp-controller="TrainerSchedule" asp-action="Index" title="Schedule">See Details &nbsp; <i class="fas fa-arrow-circle-right"></i> </a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info rounded-3">
                <div class="inner text-center">
                    <img src="~/images/Gral/Users.png" height="100px" width="100px" />
                    <h3>Users</h3>

                    <p>Users</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a class="btn btn-dark small-box-footer d-flex justify-content-center" asp-area="Admin" asp-controller="User" asp-action="Index" title="Order">See Details &nbsp; <i class="fas fa-arrow-circle-right"></i> </a>
            </div>
        </div>
    </div>
    <!-- /.row -->
}

<!-- / .Admin-->
<!--Member Area-->
@if (User.IsInRole(SD.Member))
{
    <div class="row pt-5 pb-5">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info rounded-3">
                <div class="inner text-center">
                    <img src="~/images/Gral/Clients.png" height="100px" width="100px" />
                    <h3>Information</h3>

                    <p>Information</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a class="btn btn-dark small-box-footer d-flex justify-content-center" asp-area="Member" asp-controller="Home" asp-action="IndexClient" title="Plan">See Details &nbsp; <i class="fas fa-arrow-circle-right"></i> </a>

            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info rounded-3">
                <div class="inner text-center">
                    <img src="~/images/Gral/Orders.png" height="100px" width="100px" />
                    <h3>Orders</h3>

                    <p>Orders</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a class="btn btn-dark small-box-footer d-flex justify-content-center" asp-area="Member" asp-controller="Home" asp-action="OrderClient" title="Orders">See Details &nbsp; <i class="fas fa-arrow-circle-right"></i> </a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info rounded-3">
                <div class="inner text-center">
                    <img src="~/images/Gral/Plan.png" height="100px" width="100px" />
                    <h3>Plans</h3>

                    <p>Plans</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a class="btn btn-dark small-box-footer d-flex justify-content-center" asp-area="Member" asp-controller="Home" asp-action="PlanClient" title="Plan">See Details &nbsp; <i class="fas fa-arrow-circle-right"></i> </a>
            </div>
        </div>
    </div>
    <!-- /.row -->
}
    <!--/.Member-->

    <!--Trainer Area-->
    @if (User.IsInRole(SD.Trainer))
    {
        <div class="row pt-5 pb-5">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info rounded-3">
                    <div class="inner text-center">
                        <img src="~/images/Gral/Plan.png" height="100px" width="100px" />
                        <h3>Plan</h3>

                        <p>Plan</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a class="btn btn-dark small-box-footer d-flex justify-content-center" asp-area="Admin" asp-controller="Plan" asp-action="Index" title="Plan">See Details &nbsp; <i class="fas fa-arrow-circle-right"></i> </a>

                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info rounded-3">
                    <div class="inner text-center">
                        <img src="~/images/Gral/Schedule.png" height="100px" width="100px" />
                        <h3>Schedule</h3>

                        <p>Schedule</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a class="btn btn-dark small-box-footer d-flex justify-content-center" asp-area="Admin" asp-controller="TrainerSchedule" asp-action="Index" title="Schedule">See Details &nbsp; <i class="fas fa-arrow-circle-right"></i> </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info rounded-3">
                    <div class="inner text-center">
                        <img src="~/images/Gral/Users.png" height="100px" width="100px" />
                        <h3>Users</h3>

                        <p>Users</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a class="btn btn-dark small-box-footer d-flex justify-content-center" asp-area="Admin" asp-controller="User" asp-action="Index" title="Order">See Details &nbsp; <i class="fas fa-arrow-circle-right"></i> </a>
                </div>
            </div>
        </div>
        <!-- /.row -->
    }
        <!--/.Trainer-->