@model GMS.Models.MemberTrainerVM

<div class="container p-3 border">
    <div class="row">
        <div class="col-6 form-group">
            <form method="post" action="ManageAuthors" class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="MemberTrainer.Member_Id" />
                <input type="hidden" asp-for="MemberTrainer.Trainer_Id" />

                <div class="col-4">
                    <label asp-for="Member.Name"></label>
                </div>
                <div class="col-8">
                    <input type="text" asp-for="Member.Name" class="form-control" disabled />
                </div>
                <div class="col-4 pt-3">
                    <label asp-for="MemberTrainer.Trainer.Name"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(u => u.MemberTrainer.Trainer_Id, Model.TrainerList, "--Select Author--",
                        new { @class = "form-control" })
                </div>
                <div class="col-4 offset-4">
                    <button type="submit" class="btn btn-primary form-control">Add Trainer</button>
                </div>
                <div class="col-4">
                    <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                </div>
            </form>
        </div>
        <div class="col-6">

            <form method="post" action="RemoveAuthors">
                <input type="hidden" asp-for="@Model.Member.Id" />
                <div class="row text-right">
                    <div class="col-12 text-right h4 text-primary">
                        Trainers Associated to this Member:
                    </div>
                </div>
                @foreach (var auth in Model.MemberTrainerList)
                {

                    <div class="row pb-2">
                        <div class="col-8 text-right" style="font-size:23px;">@auth.Trainer.Name</div>
                        <div class="col-4">
                            <button asp-action="RemoveTrainers" type="submit" class="btn btn-danger form-control" asp-route-authorId="@auth.Trainer_Id">Remove</button>
                        </div>
                    </div>
                }
            </form>
        </div>
    </div>

</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}