@model GMS.Models.Period
@{
    var title = "Create Period";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Upsert">
    <div class="row px-2 mx-2 backgroundWhite border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Id!=0)
        {
            <input type="hidden" asp-for="Id" />
            title = "Edit Period";
        }

        <div class="col-12">
            <h2 class="text-primary"><img src="~/images/Gral/Periods.png" height="100px" width="100px" />@title</h2>
            <br/>
        </div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" autofocus />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="StartTime"></label>
                </div>
                <div class="col-8">
                    <input asp-for="StartTime" class="form-control" />
                    <span asp-validation-for="StartTime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="EndTime"></label>
                </div>
                <div class="col-8">
                    <input asp-for="EndTime" class="form-control" />
                    <span asp-validation-for="EndTime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Description"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Id != 0)
                    {
                        //Edit button & back to list
                        <partial name="_EditAndBackToListButton" model="Model.Id" />
                    }
                    else
                    {
                        //Create button and back to list
                        <partial name="_CreateAndBackToListButton" />

                    }
                </div>
            </div>
        </div>
    </div>
</form>


